<template>
  <div class="about">
    <h1>Test ACL Rules</h1>
    <a-row type="flex" justify="space-between">
      <a-col :span="6">
        <div>
          <a-divider orientation="left">Logged permission</a-divider>
          <div v-show="$can('logged')">
            <a-tag color="#2db7f5">#2db7f5</a-tag>
            <a-tag color="#2db7f5">#2db7f5</a-tag>
            <a-tag color="#2db7f5">#2db7f5</a-tag>
            <a-tag color="#2db7f5">#2db7f5</a-tag>
          </div>
        </div>
        <div>
          <a-divider orientation="left">Admin permission</a-divider>
          <div v-show="$can('admin')">
            <a-tag color="#f50">#f50</a-tag>
            <a-tag color="#f50">#f50</a-tag>
            <a-tag color="#f50">#f50</a-tag>
            <a-tag color="#f50">#f50</a-tag>
          </div>
        </div>
        <div>
          <a-divider orientation="left">User permission</a-divider>
          <div v-show="$can('user')">
            <a-tag color="#87d068">#87d068</a-tag>
            <a-tag color="#87d068">#87d068</a-tag>
            <a-tag color="#87d068">#87d068</a-tag>
            <a-tag color="#87d068">#87d068</a-tag>
          </div>
        </div>
      </a-col>
      <a-col :span="8">
        <div>
          <a-divider orientation="left">Admin & User permission</a-divider>
          <div v-show="$can('admin&user')">
            <a-tag color="#108ee9">#108ee9</a-tag>
            <a-tag color="#108ee9">#108ee9</a-tag>
            <a-tag color="#108ee9">#108ee9</a-tag>
            <a-tag color="#108ee9">#108ee9</a-tag>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>
