<template>
  <a-row type="flex">
    <a-col :span="24">
      <a-form>
        <a-form-item label="Permission" :label-col="{ span: 24 }" :wrapper-col="{ span: 24 }">
          <a-select
            mode="multiple"
            :defaultValue="['public']"
            style="width: 100%"
            @change="handleChange"
            placeholder="Please select"
          >
            <a-select-option v-for="item in options" :key="item" :value="item">{{item}}</a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
    </a-col>
  </a-row>
</template>
<script>
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      options: ["public", "logged", "admin", "user"],
      formLayout: "horizontal",
      selectedItems: []
    };
  },
  methods: {
    ...mapMutations(["LOAD_RULES"]),
    handleChange(value) {
      this.LOAD_RULES(value);
      this.$message.success("Permissions saved!");
    }
  }
};
</script>
