<template>
  <div id="app">
    <a-layout-header :style="{backgroundColor: 'white!important'}">
      <a-radio-group :value="menu" @change="handleMenu">
        <router-link to="/">
          <a-radio-button value="home">
            <a-icon type="home" />&nbsp;Home
          </a-radio-button>
        </router-link>
        <router-link to="/acl">
          <a-radio-button value="acl" v-show="$can('logged')">
            <a-icon type="dashboard" />&nbsp;ACL Logged
          </a-radio-button>
        </router-link>
      </a-radio-group>
    </a-layout-header>
    <a-layout :style="{minHeight: '100vh'}">
      <a-layout-sider :style="{backgroundColor: 'white!important', padding: '20px 10px'}">
        <PermissionChange />
      </a-layout-sider>
      <a-layout-content :style="{padding: '20px 100px'}">
        <router-view />
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script>
import PermissionChange from "@/views/PermissionChange";
export default {
  components: { PermissionChange },
  data() {
    return {
      menu: ["home"]
    };
  },
  methods: {
    handleMenu(e) {
      this.menu = e.target.value;
    }
  }
};
</script>